/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Italianno&display=swap');

/* root */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* navy blue */
    --theme-one: 26, 29, 44;
    /* sky blue */
    --theme-two: 18, 233, 251;
    /* light green */
    --theme-three: 2, 71, 50;
    /* yellow */
    --theme-four: 252, 252, 0;
}

/* Color classes */
.navy-blue {
    color: rgb(var(--theme-one));
}

.sky-blue {
    color: rgb(var(--theme-two));
}
.light-green {
    color: rgb(var(--theme-three));
}

.yellow {
    color: rgb(var(--theme-four));
}


/* General styling classes for reuse */
.social {
    font-size: 2em;
}

.social :hover {
    animation: wiggle 0.6s;    
}

.italianno {
    font-family: 'Italianno';
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.rounded-border {
    border-radius: 10px;
}

.padding {
    padding: 0.5em;
}

.margin {
    margin: 0.5em;
}

.margin-zero {
    margin: 0;
}

.max-width {
    max-width: 600px;
}

.bold {
    font-weight: bold;
}
